# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
bzip2=1.0.6
ca-certificates=2019.3.9
certifi=2019.3.9
libffi=3.2.1
openssl=1.1.1b
pip=19.0.3
python=3.7.3
setuptools=41.0.0
sqlite=3.26.0
tk=8.6.9
wheel=0.33.1
xz=5.2.4
zlib=1.2.11
pandas=0.24.2
requests=2.21.0
boto3=1.9.139
awscli=1.16.149
beautifulsoup4=4.7.1